SERVICE_B_AUDIENCE=service-b
SERVICE_B_TOKEN_MODE=jwe
# SERVICE_B_TOKEN_MODE=opaque
SERVICE_B_JWE_SECRET=change-me-jwe-secret
SERVICE_B_JWKS_DECRYPT_SECRET=change-me-jwks-secret
SERVICE_B_ALLOWED_JWS_ALGORITHM=RS256

SERVICE_A_ISSUER=http://localhost:9000
SERVICE_A_JWK_SET_URI=http://localhost:9000/.well-known/jwks.json

SERVICE_B_INTROSPECTION_URL=http://localhost:9000/api/auth/introspect
SERVICE_B_INTROSPECTION_SECRET=change-me-introspection-secret
